pipeline/PL_Log_Into_Table.json
{
	"name": "PL_Log_Into_Table",
	"properties": {
		"activities": [
			{
				"name": "Copy data from emp table to emp_sink",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "TimeStamp",
								"value": {
									"value": "@convertFromUtc(utcNow(),'India standard time')",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table emp_sink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "eid",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "eid",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "salary",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "salary",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "TimeStamp"
								},
								"sink": {
									"name": "Time_Stamp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Azure_SQL_DB",
						"type": "DatasetReference",
						"parameters": {
							"SourceTableName": {
								"value": "@pipeline().parameters.PL_Prm_Source_Tab_Name",
								"type": "Expression"
							},
							"SourceTableSchema": "dbo"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQL_DB_Sink",
						"type": "DatasetReference",
						"parameters": {
							"SinkTableName": {
								"value": "@pipeline().parameters.PL_Sink_Tab_Name",
								"type": "Expression"
							},
							"SinkTableSchema": "dbo"
						}
					}
				]
			},
			{
				"name": "Stored procedure on Success status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data from emp table to emp_sink",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[pipeline_log_usp]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@convertfromutc(activity('Copy data from emp table to emp_sink').ExecutionEndTime,'India standard time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@convertfromutc(activity('Copy data from emp table to emp_sink').ExecutionStartTime,'India standard time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyDuration_in_secs": {
							"value": {
								"value": "@{activity('Copy data from emp table to emp_sink').output.copyDuration}",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataFactory_Name": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Destination": {
							"value": {
								"value": "@Concat('dbo.',pipeline().parameters.PL_Sink_Tab_Name)",
								"type": "Expression"
							},
							"type": "String"
						},
						"EffectiveintegrationRuntime": {
							"value": {
								"value": "@{activity('Copy data from emp table to emp_sink').output.effectiveIntegrationRuntime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ERROR_Message": {
							"value": {
								"value": "@activity('Copy data from emp table to emp_sink').error",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@activity('Copy data from emp table to emp_sink').status",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status_Code": {
							"value": {
								"value": "@activity('Copy data from emp table to emp_sink').statusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"No_ParallelCopies": {
							"value": {
								"value": "@activity('Copy data from emp table to emp_sink').output.usedParallelCopies",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('Copy data from emp table to emp_sink').output.rowsCopied",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copy data from emp table to emp_sink').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('Copy data from emp table to emp_sink').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "@concat('dbo.',pipeline().parameters.PL_Prm_Source_Tab_Name)",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('Copy data from emp table to emp_sink').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{convertFromUtc(pipeline().TriggerTime,'India standard time')}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Azure_SQL_DB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure on Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data from emp table to emp_sink",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[pipeline_log_usp]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@convertfromutc(activity('Copy data from emp table to emp_sink').ExecutionEndTime,'India standard time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@convertfromutc(activity('Copy data from emp table to emp_sink').ExecutionStartTime,'India standard time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyDuration_in_secs": {
							"value": null,
							"type": "String"
						},
						"DataFactory_Name": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Destination": {
							"value": null,
							"type": "String"
						},
						"EffectiveintegrationRuntime": {
							"value": {
								"value": "@{activity('Copy data from emp table to emp_sink').output.effectiveIntegrationRuntime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ERROR_Message": {
							"value": {
								"value": "@activity('Copy data from emp table to emp_sink').error",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@activity('Copy data from emp table to emp_sink').status",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status_Code": {
							"value": {
								"value": "@activity('Copy data from emp table to emp_sink').statusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"No_ParallelCopies": {
							"value": {
								"value": "@activity('Copy data from emp table to emp_sink').output.usedParallelCopies",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": null,
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copy data from emp table to emp_sink').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": null,
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "@concat('dbo.',pipeline().parameters.PL_Prm_Source_Tab_Name)",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('Copy data from emp table to emp_sink').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{convertFromUtc(pipeline().TriggerTime,'India standard time')}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Azure_SQL_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"PL_Prm_Source_Tab_Name": {
				"type": "string"
			},
			"PL_Sink_Tab_Name": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-26T20:59:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}