pipeline/PL_S22_Incremental_Load.json
{
	"name": "PL_S22_Incremental_Load",
	"properties": {
		"activities": [
			{
				"name": "Lookup_MaxValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select Max(cid) as MaxValue from cust",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Azure_SQL_DB",
						"type": "DatasetReference",
						"parameters": {
							"SourceTableName": "cust",
							"SourceTableSchema": "dbo"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Lookup_Last_processed_value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from watermark",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Azure_SQL_DB",
						"type": "DatasetReference",
						"parameters": {
							"SourceTableName": "watermark",
							"SourceTableSchema": "dbo"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data_Incr_Load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_MaxValue",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_Last_processed_value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from cust where cid > @{activity('Lookup_Last_processed_value').Output.firstRow.last_processed_value}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Azure_SQL_DB",
						"type": "DatasetReference",
						"parameters": {
							"SourceTableName": "cust",
							"SourceTableSchema": "dbo"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Blob_CSV",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "incrload",
							"FileName": "cust.csv"
						}
					}
				]
			},
			{
				"name": "SP_Update_watermark_Table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data_Incr_Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_waermark]",
					"storedProcedureParameters": {
						"lpv": {
							"value": {
								"value": "@{activity('Lookup_MaxValue').output.firstRow.MaxValue}",
								"type": "Expression"
							},
							"type": "String"
						},
						"tablename": {
							"value": "cust",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Azure_SQL_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-01T21:02:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}