pipeline/PL_S24_Multiple_Tables_Incr_Load.json
{
	"name": "PL_S24_Multiple_Tables_Incr_Load",
	"properties": {
		"activities": [
			{
				"name": "Lookup_watermark_table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Azure_SQL_DB",
						"type": "DatasetReference",
						"parameters": {
							"SourceTableName": "metadata_incrLoad",
							"SourceTableSchema": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Table_List",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_watermark_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_watermark_table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Lookup_Get_MaxDate_Value",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT MAX(@{item().deltaCol}) as MaxDateVal FROM @{item().TableName}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_Azure_SQL_DB",
									"type": "DatasetReference",
									"parameters": {
										"SourceTableName": {
											"value": "@item().tableName",
											"type": "Expression"
										},
										"SourceTableSchema": {
											"value": "@item().schemaName",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Copy data from SQL Table to CSV",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup_Get_MaxDate_Value",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().schemaName}.@{item().TableName} where @{item().deltaCol} > '@{item().Last_processed_Value}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Azure_SQL_DB",
									"type": "DatasetReference",
									"parameters": {
										"SourceTableName": {
											"value": "@item().tableName",
											"type": "Expression"
										},
										"SourceTableSchema": {
											"value": "@item().schemaName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Blob_CSV",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": {
											"value": "incrload/@{item().containerName}",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().containerName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_update_watermark_table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data from SQL Table to CSV",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_waermark_incrLoad]",
								"storedProcedureParameters": {
									"LPV": {
										"value": {
											"value": "@activity('Lookup_Get_MaxDate_Value').output.firstRow.MaxDateVal",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"tabName": {
										"value": {
											"value": "@item().tableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Azure_SQL_DB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-02T18:39:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}