pipeline/PL_S22_Logic_Apps.json
{
	"name": "PL_S22_Logic_Apps",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from metadata where isReady = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Azure_SQL_DB",
						"type": "DatasetReference",
						"parameters": {
							"SourceTableName": "metadata",
							"SourceTableSchema": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Table_List",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Metadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata_Tables",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Azure_SQL_DB",
									"type": "DatasetReference",
									"parameters": {
										"SourceTableName": {
											"value": "@item().sourcetable",
											"type": "Expression"
										},
										"SourceTableSchema": {
											"value": "@item().sourceschema",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								]
							}
						},
						{
							"name": "If_Table_Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata_Tables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata_Tables').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait_False",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data_SQL_to_CSV",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_Azure_SQL_DB",
												"type": "DatasetReference",
												"parameters": {
													"SourceTableName": {
														"value": "@item().sourcetable",
														"type": "Expression"
													},
													"SourceTableSchema": {
														"value": "@item().sourceschema",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Blob_CSV",
												"type": "DatasetReference",
												"parameters": {
													"ContainerName": {
														"value": "@item().sinkcontainername",
														"type": "Expression"
													},
													"FileName": {
														"value": "@item().sinkfilename",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Stored procedure on Success status",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data_SQL_to_CSV",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[pipeline_log_usp]",
											"storedProcedureParameters": {
												"CopyActivity_End_Time": {
													"value": {
														"value": "@convertfromutc(activity('Copy data_SQL_to_CSV').ExecutionEndTime,'India standard time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"CopyActivity_Start_Time": {
													"value": {
														"value": "@convertfromutc(activity('Copy data_SQL_to_CSV').ExecutionStartTime,'India standard time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"CopyDuration_in_secs": {
													"value": {
														"value": "@{activity('Copy data_SQL_to_CSV').output.copyDuration}",
														"type": "Expression"
													},
													"type": "String"
												},
												"DataFactory_Name": {
													"value": {
														"value": "@{pipeline().DataFactory}",
														"type": "Expression"
													},
													"type": "String"
												},
												"Destination": {
													"value": {
														"value": "@item().sinkfilename",
														"type": "Expression"
													},
													"type": "String"
												},
												"EffectiveintegrationRuntime": {
													"value": {
														"value": "@{activity('Copy data_SQL_to_CSV').output.effectiveIntegrationRuntime}",
														"type": "Expression"
													},
													"type": "String"
												},
												"ERROR_Message": {
													"value": {
														"value": "@activity('Copy data_SQL_to_CSV').error",
														"type": "Expression"
													},
													"type": "String"
												},
												"Execution_Status": {
													"value": {
														"value": "@activity('Copy data_SQL_to_CSV').status",
														"type": "Expression"
													},
													"type": "String"
												},
												"Execution_Status_Code": {
													"value": {
														"value": "@activity('Copy data_SQL_to_CSV').statusCode",
														"type": "Expression"
													},
													"type": "String"
												},
												"No_ParallelCopies": {
													"value": {
														"value": "@activity('Copy data_SQL_to_CSV').output.usedParallelCopies",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"Pipeline_Name": {
													"value": {
														"value": "@{pipeline().Pipeline}",
														"type": "Expression"
													},
													"type": "String"
												},
												"RowsCopied": {
													"value": {
														"value": "@activity('Copy data_SQL_to_CSV').output.rowsCopied",
														"type": "Expression"
													},
													"type": "String"
												},
												"RowsRead": {
													"value": {
														"value": "@activity('Copy data_SQL_to_CSV').output.rowsRead",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"RunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"Sink_Type": {
													"value": {
														"value": "@{activity('Copy data_SQL_to_CSV').output.executionDetails[0].sink.type}",
														"type": "Expression"
													},
													"type": "String"
												},
												"Source": {
													"value": {
														"value": "@{item().sourceschema}+'.'+@{item().sourcetable}",
														"type": "Expression"
													},
													"type": "String"
												},
												"Source_Type": {
													"value": {
														"value": "@{activity('Copy data_SQL_to_CSV').output.executionDetails[0].source.type}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerId": {
													"value": {
														"value": "@{pipeline().TriggerId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerName": {
													"value": {
														"value": "@{pipeline().TriggerName}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerTime": {
													"value": {
														"value": "@{convertFromUtc(pipeline().TriggerTime,'India standard time')}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerType": {
													"value": {
														"value": "@{pipeline().TriggerType}",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_Azure_SQL_DB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Failure_SP",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data_SQL_to_CSV",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[pipeline_log_usp]",
											"storedProcedureParameters": {
												"CopyActivity_End_Time": {
													"value": {
														"value": "@convertfromutc(activity('Copy data_SQL_to_CSV').ExecutionEndTime,'India standard time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"CopyActivity_Start_Time": {
													"value": {
														"value": "@convertfromutc(activity('Copy data_SQL_to_CSV').ExecutionStartTime,'India standard time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"CopyDuration_in_secs": {
													"value": {
														"value": "@{activity('Copy data_SQL_to_CSV').output.copyDuration}",
														"type": "Expression"
													},
													"type": "String"
												},
												"DataFactory_Name": {
													"value": {
														"value": "@{pipeline().DataFactory}",
														"type": "Expression"
													},
													"type": "String"
												},
												"Destination": {
													"value": null,
													"type": "String"
												},
												"EffectiveintegrationRuntime": {
													"value": {
														"value": "@{activity('Copy data_SQL_to_CSV').output.effectiveIntegrationRuntime}",
														"type": "Expression"
													},
													"type": "String"
												},
												"ERROR_Message": {
													"value": {
														"value": "@activity('Copy data_SQL_to_CSV').error",
														"type": "Expression"
													},
													"type": "String"
												},
												"Execution_Status": {
													"value": {
														"value": "@activity('Copy data_SQL_to_CSV').status",
														"type": "Expression"
													},
													"type": "String"
												},
												"Execution_Status_Code": {
													"value": {
														"value": "@activity('Copy data_SQL_to_CSV').statusCode",
														"type": "Expression"
													},
													"type": "String"
												},
												"No_ParallelCopies": {
													"value": {
														"value": "@activity('Copy data_SQL_to_CSV').output.usedParallelCopies",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"Pipeline_Name": {
													"value": {
														"value": "@{pipeline().Pipeline}",
														"type": "Expression"
													},
													"type": "String"
												},
												"RowsCopied": {
													"value": null,
													"type": "String"
												},
												"RowsRead": {
													"value": null,
													"type": "Int32"
												},
												"RunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"Sink_Type": {
													"value": null,
													"type": "String"
												},
												"Source": {
													"value": {
														"value": "concat(@{item().sourceschema},'.',@{item().sourcetable})",
														"type": "Expression"
													},
													"type": "String"
												},
												"Source_Type": {
													"value": {
														"value": "@{activity('Copy data_SQL_to_CSV').output.executionDetails[0].source.type}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerId": {
													"value": {
														"value": "@{pipeline().TriggerId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerName": {
													"value": {
														"value": "@{pipeline().TriggerName}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerTime": {
													"value": {
														"value": "@{convertFromUtc(pipeline().TriggerTime,'India standard time')}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerType": {
													"value": {
														"value": "@{pipeline().TriggerType}",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_Azure_SQL_DB",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Success_notiication",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach_Table_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-02.southindia.logic.azure.com:443/workflows/d70cf33ba35645709f60f54dc06d9d78/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=OUQvHF6UterT8vFBEszVKxszFot7_QdrJ01qSCkSyxc",
					"method": "POST",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"EmailTo": "shabu.mohd@gmail.com",
						"PpelineName": "@{pipeline().Pipeline}",
						"Status": "Success!"
					}
				}
			},
			{
				"name": "Failure_notiication",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach_Table_List",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-02.southindia.logic.azure.com:443/workflows/d70cf33ba35645709f60f54dc06d9d78/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=OUQvHF6UterT8vFBEszVKxszFot7_QdrJ01qSCkSyxc",
					"method": "POST",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"EmailTo": "shabu.mohd@gmail.com",
						"PpelineName": "@{pipeline().Pipeline}",
						"Status": "Failed!"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-01T00:58:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}